.button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;

  font-family: inherit;
  .font-size(16px, 20px);
  color: @basic-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @basic-green;

  &:hover {
    background-color: @dark-green;
  }

  &:active {
    color: rgba(@basic-white, 0.3);
  }

  &--grey {
  color: @grey-1;
  background-color: @grey-11;
  }

  &--grey:hover {
    background-color: @grey-10;
  }

  &--grey:active {
    color: rgba(@grey-1, 0.3);
  }
}

