.catalog__title {
  padding: 25px 20px;
  padding-bottom: 38px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    padding: 62px 30px;
    padding-bottom: 164px;
  }
}
