.example {
  padding-top: 27px;
  padding-bottom: 26px;
  background-color: @grey-9;
}

.example__wrapper {
  margin: 0 20px;
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__item {
  margin-bottom: 34px;
  height: 56px;
  box-sizing: border-box;
  padding-top: 13px;
  border: 1px solid @grey-5;
  border-radius: 3px;
}

.example__title {
  margin-bottom: 33px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__number {
  .font-size(24px, 24px);
  text-transform: uppercase;
  text-align: center;
}

.example__description {
  position: relative;
  top: 9px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  width: 87px;
  box-sizing: border-box;
  .font-family-alt();
  .font-size(12px, 12px);
  color: @grey-1;
  text-align: center;
  background-color: @grey-9;
}

.example__expenses {
  margin: 0;
  margin-bottom: 34px;
  .font-size(14px, 20px);
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    margin: 0 30px;
  }

  .example {
    padding-top: 42px;
    padding-bottom: 0;
    background-color: @basic-white;
  }

  .example__title {
    margin-bottom: 64px;
  }

  .example__text {
    margin-bottom: 54px;
  }

  .example__advantages {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    column-gap: 42px;
  }

  .example__item {
    height: 72px;
    width: 162px;
  }

  .example__number {
    .font-size(30px, 37px);
  }

  .example__description {
    top: 12px;
    .font-size(14px, 14px);
    background-color: @basic-white;
    padding: 0 8px;
    width: max-content;
  }

  .example__expenses {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .font-size(20px, 20px);
  }

  .example__expense {
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
}
