.how-it-works__wrapper {
  margin: 0 20px;
}

.how-it-works {
  padding-top: 26px;
  padding-bottom: 41px;
}

.how-it-works__list {
  display: grid;
  grid-row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    content: "";
  }

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url(../img/advantage-leaf@1x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 48px auto;
  }

  &--conveniently::after {
    background-image: url(../img/advantage-powder@1x.png);
  }

  &--one-meal::after {
    background-image: url(../img/advantage-dining@1x.png);
  }

  &--quick-result::after {
    background-image: url(../img/advantage-clock@1x.png);
  }

  @media (min-resolution: 2dppx) {
    &--helpful::after {
      background-image: url(../img/advantage-powder@2x.png);
    }

    &--conveniently::after {
      background-image: url(../img/advantage-powder@2x.png);
    }

    &--one-meal::after {
      background-image: url(../img/advantage-dining@2x.png);
    }

    &--quick-result::after {
      background-image: url(../img/advantage-clock@2x.png);
    }
  }
}

.how-it-works__title {
  margin-bottom: 39px;
}

.how-it-works__description {
  margin: 0;

  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .how-it-works__wrapper {
    margin: 0 30px;
  }

  .how-it-works {
    padding-top: 44px;
    padding-bottom: 46px;
    border-bottom: 1px solid @grey-7;
  }

  .how-it-works__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 37px;
    grid-column-gap: 60px;
  }

  .how-it-works__item {
    box-sizing: border-box;
    min-height: 280px;
    padding-top: 151px;
    padding-left: 0;

    &::before,
    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .how-it-works__title {
    margin-bottom: 33px;
  }

  .how-it-works__description {

    br {
      display: inline;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 113px;
      font-family: Oswald, sans-serif;
      .font-size(280px, 280px);
      color: @grey-11;
      z-index: -1;
    }

    &--one::before {
      content: "1";
      left: 119px;
    }

    &--two::before {
      content: "2";
      left: 111px;
    }

    &--three::before {
      content: "3";
    }

    &--four::before {
      content: "4";
    }
  }
}

@media (min-width: @desktop-width) {
  .how-it-works__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  .how-it-works__list {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 37px;
    grid-column-gap: 60px;
  }
}
