.map {
  position: relative;
  margin-bottom: -3px;
}

.map__wrapper {
  padding: 0 20px;
}

.map__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: @grey-11;

  &--white {
    background-color: @basic-white;
  }
}

.map__invitation {
  margin: 0;
  .font-size(16px, 20px);
  text-transform: uppercase;
  color: @dark-black;
}

.map__address {
  margin: 0;
  .font-family-alt();
  .font-size(14px, 20px);
  color: @grey-1;
}

.map__frame {
  border: none;
}

@media (min-width: @tablet-width) {
  .map__wrapper {
    margin: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper {
    position: absolute;
    top: 95px;
    left: 0;
    width: 570px;
    height: 200px;
    margin: 0 110px;
  }
}
