.map__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: @basic-white;
}

.map__invitation {
  .font-size(16px, 18px);
  text-transform: uppercase;
  color: @dark-black;
}

.map__address {
  .font-family-alt();
  .font-size(14px, 20px);
  color: @grey-1;
}
