.nutrition-program__list {
  list-style: none;
}

.nutrition-program__item {
  background-color: @grey-11;
}

.nutrition-program__title {
  .font-size(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;
}

.nutrition-program__link {
  .font-size(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:active {
    opacity: 0.3;
  }
}

