.nutrition-program {
  padding-top: 22px;
}

.nutrition-program__wrapper {
  margin: 0 20px;
}

.nutrition-program__list {
  display: grid;
  grid-row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nutrition-program__item {
  position: relative;
  padding: 20px;
  padding-top: 29px;
  padding-bottom: 20px;
  background-color: @grey-11;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;

    background-color: @basic-green;
    border-radius: 50%;
  }

  &--slimming::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 29px;
    width: 36px;
    height: 50px;
    background-image: url(../img/icon-cat-slim.svg);
  }

  &--weight-gain::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url(../img/icon-cat-pro.svg);
  }
}

.nutrition-program__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;
  .font-size(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;
}

.nutrition-program__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  border-bottom: 1px solid @grey-12;
}

.nutrition-program__link {
  position: relative;
  .font-size(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 100px;
    width: 24px;
    height: 12px;
    background-image: url(../img/icon-right-arrow-long.svg);
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .nutrition-program {
    padding-top: 0;
  }

  .nutrition-program__wrapper {
    margin: 0 30px;
    margin-top: 0;
  }

  .nutrition-program__list {
    grid-row-gap: 30px;
  }

  .nutrition-program__item {
    min-height: 372px;
    box-sizing: border-box;
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
    padding-right: 279px;

    &--weight-gain {
      padding-right: 314px;
    }

    &::before {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }
  }

  .nutrition-program__title {
    margin-bottom: 24px;
    padding-left: 0;
    .font-size(36px, 36px);
  }

  .nutrition-program__description {
    margin-bottom: 52px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .nutrition-program__link {
    .font-size(20px, 30px);
  }
}

@media (min-width: @desktop-width) {
  .nutrition-program__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 0;
  }

  .nutrition-program__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .nutrition-program__item {
    padding-bottom: 59px;
    padding-right: 52px;

    &::before {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }
  }

  .nutrition-program__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }

  .nutrition-program__description {
    margin-bottom: 27px;
  }
}
