.product {
  border-top: 1px solid @grey-10;
}

.product__wrapper {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "picture title"
  "picture descrpition"
  "buy-button buy-button";
  grid-row-gap: 13px;
  padding-top: 19px;
  padding-bottom: 24px;

}

.product__link--img {

  grid-area: picture;
  margin: auto;
}

.product__link--title {
  grid-area: title;
  color: @light-black;
}

.product__title {
  margin: 0;
  padding-right: 40%;
  .font-size(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
}

.product__link {
  text-decoration: none;
}

.product__characteristics {
  grid-area: descrpition;
  margin-bottom: 9px;
  .font-family-alt();
  .font-size(12px, 14px);
  color: @grey-1;
}

.product__term {
  padding: 0;
}

.product__definition {
  padding: 0;
  text-align: right;
}

.product__buy {

  padding: 10px;
  grid-area: buy-button;
}

@media (min-width: @tablet-width) {

  .product {
    border: none;
  }

  .product__wrapper {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-areas:
    "picture"
    "title"
    "descrpition"
    "buy-button";
    padding: 40px;
    padding-top: 160px;
    background-color: @grey-11;
    border: none;
  }

  .product__link--img {
    position: absolute;
    top: -150px;
  }

  .product__title {
    padding-right: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {

  .product {
  }
}
