.questionnaire__wrapper {
    margin: 0 20px;
  }

.questionnaire__form {
  padding-bottom: 32px;
}

.questionnaire__title {
  margin-top: 16px;
  margin-bottom: 35px;
  text-align: left;

}

.questionnaire__description {
  margin: 0;
  margin-bottom: 40px;
  .font-size(14px, 18px);
  text-transform: uppercase;

}

.questionnaire__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--without-legend {
    padding-bottom: 25px;
  }

  &--with-legend {
    padding-top: 26px;
  }

  &--with-border {
    padding: 20px 0;
    border-top: 1px solid @grey-12;
    border-bottom: 1px solid @grey-12;
  }
}



.questionnaire__legend {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 34px;
  .font-size(24px, 26px);

}

.questionnaire__list {
  display: grid;
  grid-row-gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;

  &--without-legend {
    padding: 21px 0;
  }
}

.questionnaire__item {
  display: flex;
  align-items: center;
}

.questionnaire__label {
  position: relative;
  .font-size(16px, 18px);
  color: @grey-1;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &--radio,
  &--checkbox {
    padding: 6px 0;
    padding-left: 46px;
    color: @light-black;
  }

    &--radio::before,
    &--checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    content: "";

    border: 1px solid @grey-8;
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 0;
  }

  &--text {
    margin-right: 13px;
  }
}

.questionnaire__input {
  font-family: inherit;
  .font-size(16px, 18px);
  color: @grey-1;
  text-transform: uppercase;

  &--type--text {
    flex-grow: 1;
    width: 100px;
    padding: 10px 14px;
    padding-bottom: 9px;
    border: 1px solid @grey-8;
  }

  &--type--text--comment {
    width: 100%;
    padding: 13px;
    height: 150px;
    box-sizing: border-box;
    resize: none;
  }

  &--type--radio:checked + .questionnaire__label::after {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    content: "";

    background-color: @basic-green;
    border-radius: 50%;
  }

  &--type--checkbox:checked + .questionnaire__label::after {
    position: absolute;
    top: 8px;
    left: 7px;
    width: 18px;
    height: 14px;
    content: "";

    background-image: url(../img/vector.svg);
  }
}

.questionnaire__button {
  margin: 33px 0 21px;
}

.questionnaire__footnote {
  display: flex;
  justify-content: center;
  .font-family-alt();
  .font-size(14px, 16px);
}

@media (min-width: @tablet-width) {
  .questionnaire__wrapper {
    margin: 0 30px;
  }

  .questionnaire__fieldset {

    &--without-legend {
      border-right: 1px solid @grey-12;
      border-left: 1px solid @grey-12;
    }
  }
}

@media (min-width: @desktop-width) {
  .questionnaire__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

}
