.questionnaire__wrapper {
    margin: 0 20px;

    .questionnaire__group& {
      margin: 0;
    }
  }

.questionnaire {
  padding-top: 16px;
  padding-bottom: 32px;
}

.questionnaire__title {
  margin-bottom: 35px;
  text-align: left;
}

.questionnaire__description {
  margin: 0;
  margin-bottom: 40px;
  .font-size(14px, 18px);
  text-transform: uppercase;
}

.questionnaire__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--without-legend {
    padding-bottom: 25px;
  }

  &--with-legend {
    padding-top: 26px;
  }

  &--with-border {
    padding: 20px 0;
    border-top: 1px solid @grey-12;
    border-bottom: 1px solid @grey-12;
  }
}

.questionnaire__legend {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 34px;
}

.questionnaire__list {
  display: grid;
  grid-row-gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;

  &--without-legend {
    padding: 21px 0;
  }
}

.questionnaire__item {
  display: flex;
  align-items: center;
}

.questionnaire__label {
  position: relative;
  .font-size(16px, 18px);
  color: @grey-1;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &--radio,
  &--checkbox {
    padding: 6px 0;
    padding-left: 46px;
    color: @light-black;
  }

  &--radio::before,
  &--checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    content: "";

    box-sizing: border-box;
    border: 1px solid @grey-8;
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 0;
  }

  &--text {
    margin-right: 13px;
  }
}

.questionnaire__input {
  font-family: inherit;
  .font-size(16px, 18px);
  color: @grey-1;
  text-transform: uppercase;

  &--type--text {
    flex-grow: 1;
    width: 100px;
    padding: 10px 14px;
    padding-bottom: 9px;
    border: 1px solid @grey-8;
  }

  &--type--text--comment {
    width: 100%;
    padding: 13px;
    height: 150px;
    box-sizing: border-box;
    resize: none;
  }

  &--type--radio:checked + .questionnaire__label::after {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 14px;
    height: 14px;
    content: "";

    background-color: @basic-green;
    border-radius: 50%;
  }

  &--type--checkbox:checked + .questionnaire__label::after {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 18px;
    height: 14px;
    content: "";

    background-image: url(../img/icon-tick.svg);
  }
}

.questionnaire__footer {
  padding-top: 33px;
}

.questionnaire__button {
  margin-bottom: 21px;
}

.questionnaire__footnote {
  display: block;
  text-align: center;
  .font-family-alt();
  .font-size(14px, 16px);
}

@media (min-width: @tablet-width) {
  .questionnaire__wrapper {
    margin: 0 70px;
    margin-right: 66px;
  }

  .questionnaire {
    padding-top: 62px;
    padding-bottom: 72px;
  }

  .questionnaire__fieldset {

    &--with-legend {
      padding-top: 54px;
      padding-bottom: 10px;
    }

    &--without-legend {
      padding-bottom: 52px;
    }

    &--with-border {
      border: none;
    }
  }

  .questionnaire__title {
    position: relative;
    left: -41px;
    margin-bottom: 56px;
  }

  .questionnaire__description {
    margin-bottom: 65px;
    .font-size(20px, 30px);
  }

  .questionnaire__list {
    grid-row-gap: 20px;

    .questionnaire__fieldset--with-border & {
      padding: 24px 28px 24px;
      grid-row-gap: 10px;
      border: 1px solid @grey-12;
    }

    .questionnaire__fieldset--checkbox & {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 54px;
    }
  }

  .questionnaire__legend {
    padding-left: 0;
    margin-bottom: 77px;

    .questionnaire__fieldset--checkbox & {
      margin-bottom: 58px;
    }

    br {
      display: none;
    }
  }

  .questionnaire__label {
    .font-size(20px, 30px);

    &--radio,
    &--checkbox {
      padding-left: 60px;
    }

    &--radio::before,
    &--checkbox::before {
      width: 40px;
      height: 40px;
    }

    &--text {
      margin-right: 17px;
    }

  }

  .questionnaire__input {
    .font-size(20px, 30px);

    &--type--radio:checked + .questionnaire__label::after {
      position: absolute;
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }

    &--type--checkbox:checked + .questionnaire__label::after {
      top: 13px;
      left: 11px;
    }

    &--type--text {
      padding: 10px 17px;
    }

    &--type--text--comment {
      padding: 10px 17px;
      height: 174px;
    }
  }

  .questionnaire__footer {
    padding-top: 42px;
    display: flex;
    align-items: center;
  }

  .questionnaire__button {
    width: 45%;
    padding: 16px;
    margin: 0;
    margin-right: 60px;
    .font-size(20px, 20px);

  }

  .questionnaire__footnote {
    vertical-align: center;
    .font-size(16px, 16px);
  }
}

@media (min-width: @desktop-width) {
  .questionnaire__wrapper {
    max-width: 1220px;
    margin: 0 auto;

    .questionnaire__group& {
      margin: 0 auto;
    }
  }

  .questionnaire {
    padding-top: 72px;
    padding-bottom: 82px;
  }

  .questionnaire__description {
    margin-bottom: 67px;
  }

  .questionnaire__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-bottom: 14px;
  }

  .questionnaire__fieldset {

    &--with-legend {
      padding-top: 54px;
      padding-bottom: 12px;
    }

    &--without-legend {
      padding: 0;
    }

    &--with-border {
      padding: 0;
    }
  }

  .questionnaire__list {

    .questionnaire__fieldset--contacts & {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    .questionnaire__fieldset--checkbox & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 80px;
    }
  }

  .questionnaire__title {
    position: static;
    margin-bottom: 56px;
  }

  .questionnaire__footer {
    padding-top: 47px;
  }

  .questionnaire__button {
    width: 46.6%;
    margin-right: 80px;
  }
}
