.show-all-products {
  text-align: center;
}

.show-all-products__title {
  .font-size(16px, 20px);
  text-transform: uppercase;
  font-weight: 400;
  color: @dark-black;
}

.show-all-products__description {
  .font-family-alt();
  .font-size(12px, 16px);
  color: @grey-1;
}

