.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  position: relative;
  padding: 24px 0;
  .font-size(20px, 20px);
  font-weight: 500;
  color: @basic-black;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid @grey-10;
}

.site-list__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6
  }

  &:active {
    opacity: 0.3;
  }

}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  .site-list__item {
    .font-size(18px, 24px);
    font-weight: 400;
    border: none;
  }

  .site-list__item--active {
    border-bottom: 2px solid @basic-green;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 478px;
  }

  .site-list__item {
    .font-size(20px, 30px);
  }

  .site-list__item--white {
    color: @basic-white;
  }

  .site-list__item--active.site-list__item--white {
  border-bottom: 2px solid @basic-white;
}
}
