.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__img {
  margin-bottom: 20px;
}

.slider__controls {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228px;
}

.slider__scale {
  position: relative;
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid @grey-5;
  border-radius: 6px;
  background-color: @basic-white;
}

.slider__toggle {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: @basic-green;
}

.slider__button {
  width: 70px;
  min-height: 40px;
  font-family: inherit;
  .font-size(16px, 20px);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .slider {
    padding-bottom: 51px;
  }

  .slider__img {
    position: relative;
    left: 7px;
    margin-bottom: 7px;
    width: 690px;
    height: 517px;
  }

  .slider__controls {
    width: 590px;
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    border: none;
    background-color: @grey-13;
  }

  .slider__toggle {
    top: -15px;
    left: 50%;
    width: 8px;
    height: 8px;
    box-sizing: content-box;
    border: 13px solid @basic-white;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }

  .slider__button {
    position: relative;
    width: max-content;
    padding: 0;
    padding-top: 1px;
    margin: 0 10px;
    .font-size(20px, 30px);

    &::before {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 1px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg height='1' width='2' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' x='0' y='0' fill='%23c2c2c2' /%3E%3C/svg%3E");
      background-repeat: repeat-x;
    }

    &:hover::before {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:active::before {
      display: none;
    }

    &[disabled]::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    padding-bottom: 0;
  }

  .slider__img {
    top: -50px;
    left: 40px;
    margin-bottom: -25px;
  }

  .slider__controls {
    margin: 0;
    margin-left: auto;
    width: 570px;
  }

  .slider__button {
    margin: 0;
  }
}
