.social {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__img {

  // .outline();
  &:hover path {
    fill: @basic-green;
  }

  &:active path {
    opacity: 0.3;
  }

  &--facebook:hover path {
    fill: transparent;
    stroke: @basic-green;
  }
}

