.social {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__img {

  &:hover path {
    fill: @basic-green;
  }

  &:active path {
    opacity: 0.3;
  }

  &--facebook:hover path {
    fill: transparent;
    stroke: @basic-green;
  }
}

@media (min-width: @tablet-width) {

  .social__img {

    &--vk {
      position: relative;
      top: -3px;
      left: 13px;
      width: 34px;
      height: 26px;
    }

    &--instagram {
      position: relative;
      left: 10px;
      width: 23px;
      height: 23px;
      margin-left: 25px;
    }

    &--facebook {
      position: relative;
      top: -3px;
      left: 10px;
      width: 30px;
      height: 35px;
      margin-left: 20px;
    }
  }
}
//vk width="30" height="22" viewBox="0 -5 37 27"
// width="20" height="20" viewBox="0 -5 25 25"
